@use 'true' as *;
@use '../index' as *;

@include test-module('Multiple queries, outside selector') {
	@include test(
		'"screen and (min-width: 500px), screen and (min-width: 1000px)", with outside selector ".jasper"'
	) {
		@include assert() {
			@include output() {
				.jasper {
					@include scoped-media-query(
						('screen and (min-width: 500px)'),
						('screen and (min-width: 1000px)')
					) {
						color: #f00;
					}
				}
			}

			@include expect() {
				@media screen and (min-width: 500px) {
					.jasper {
						color: #f00;
					}
				}

				@media screen and (min-width: 1000px) {
					.jasper {
						color: #f00;
					}
				}
			}
		}
	}

	@include test(
		'"screen and (min-width: 500px), screen and (min-width: 1000px)", with outside selector ".jasper" and parent selector ".gizmo"'
	) {
		@include assert() {
			@include output($selector: false) {
				.jasper {
					@include scoped-media-query(
						('screen and (min-width: 500px)', '.gizmo'),
						('screen and (min-width: 1000px)', '.gizmo')
					) {
						color: #f00;
					}
				}
			}

			@include expect($selector: false) {
				@media screen and (min-width: 500px) {
					.gizmo {
						.jasper {
							color: #f00;
						}
					}
				}

				@media screen and (min-width: 1000px) {
					.gizmo {
						.jasper {
							color: #f00;
						}
					}
				}
			}
		}
	}

	@include test(
		'"screen and (min-width: 500px), screen and (min-width: 1000px)", with outside selector ".jasper", parent selector ".gizmo" and complex nesting'
	) {
		@include assert() {
			@include output($selector: false) {
				.jasper {
					@include scoped-media-query(
						('screen and (min-width: 500px)', '.gizmo'),
						('screen and (min-width: 1000px)', '.gizmo')
					) {
						.gizmo {
							color: #f00;
						}

						&-gizmo {
							color: #ff0;
						}
					}
				}
			}

			@include expect($selector: false) {
				@media screen and (min-width: 500px) {
					.gizmo {
						.jasper {
							.gizmo {
								color: #f00;
							}

							&-gizmo {
								color: #ff0;
							}
						}
					}
				}

				@media screen and (min-width: 1000px) {
					.gizmo {
						.jasper {
							.gizmo {
								color: #f00;
							}

							&-gizmo {
								color: #ff0;
							}
						}
					}
				}
			}
		}
	}
}
