{
	"extends": [
		"stylelint-config-niksy",
		"stylelint-config-niksy/scss",
		"stylelint-config-prettier"
	],
	"plugins": ["stylelint-prettier"],
	"rules": {
		"prettier/prettier": [true, { "severity": "warning" }]
	}
}
